<header class="container">
  <hgroup>
    <h1>雑談用のテストブログ</h1>
    <h2><%= Article.public_count %> Articles and <%= Comment.public_count %> Comments</h2>
  </hgroup>
</header>

<main class="container">
  <section>
    <ol>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
            ("<%= article.body %>")
            <br />
            <small>
              <%= article.comments.count %>
              Comment<%= article.comments.count == 1 ? '' : 's' %>
            </small>
          </li>
        <% end %>
      <% end %>
    </ol>
  </section>

  <p><%= link_to "New Article", new_article_path %></p>
</main>
