<header class="container">
  <hgroup>
    <h1>雑談用のテストブログ</h1>
    <h2><%= Article.public_count %> Articles and <%= Comment.public_count %> Comments</h2>
  </hgroup>
</header>

<main class="container">
  <section>
    <ol>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
        <div class="article-summary">
          <h3><%= link_to article.title, article %></h3>
          <div><%= article.body %></div>
          <div class="comment-count">
            <%= article.comments.count %>
            Comment<%= article.comments.count == 1 ? '' : 's' %>
          </div>
        </div>
        <% end %>
      <% end %>
    </ol>
  </section>

  <p><%= link_to "New Article", new_article_path %></p>
</main>
