<header class="container">
  <hgroup>
    <h1>雑談用のテストブログ</h1>
    <h2><%= Article.public_count %> Articles and <%= Comment.public_count %> Comments</h2>
  </hgroup>
</header>

<h2 class="container">
  <%= @article.title %>
</h2>

<main class="container" style="padding-top: 0">
  <section>
    <p><%= @article.body %></p>

    <nav>
      <ul>
        <% if @first_id %>
          <li>
            <a href="./<%= @first_id %>" role="button" class="outline">First</a>
          </li>
        <% end %>
        <% if @prev_id %>
          <li>
            <a href="./<%= @prev_id %>" role="button" class="outline">Previous</a>
          </li>
        <% end %>
        <li>
          <a href="/" role="button" class="outline">Home</a>
        </li>
        <% if @next_id  %>
          <li>
            <a href="./<%= @next_id %>" role="button" class="outline">Next</a>
          </li>
        <% end %>
        <% if @last_id %>
          <li>
            <a href="./<%= @last_id %>" role="button" class="outline">Last</a>
          </li>
        <% end %>
      </ul>
      <ul>
        <li>
          <%= link_to "編集", edit_article_path, role: "button", class: "secondary" %>
        </li>
        <li>
          <%= link_to "削除", article_path(@article), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, role: "button" %>
        </li>
      </ul>
    </nav>
  </section>

  <section>
    <h3>Comments</h3>
    <%= render @article.comments %>
  </section>

  <section id="form">
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </section>
</main>
